{# ------------------------------------------------------- #}

{# LIST VIEW OF ALL projects #}

{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}

{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}

{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/help/template-inheritance/ #}
{% extends "templates/partials/base.html" %}

{% block content %}

  {# The first thing we do is call projects data from the CMS. #}
  {% set projects = get('projects') %}

<section id="projects">
{% for project in projects %}
  <article>
    <h4>{{ project.name }}</h4>
    <h4 class="sub">{{ project.type|upper }}</h4>
    {{ project.description|markdown }}
    <time>{{ project.from|date('F Y') }}{% if project.to %} - {{ project.to|date('F Y') }}{% endif %}</time>
    {% if project.link %}<a href="{{ project.link }}">Project Site</a>{% endif %}
  </article>
{% endfor %}
</section>

{% endblock %}
