{# Copy this to any page you want articles data on. #}

  {# This is how you set pagination. #}
  {% set data = paginate(cms.articles|sort('publish_date', true), 5) %}

  {# Scaffolding only outputs the object.name, but feel to use any of the fields from your CMS form here. #}

  <section id="articles">
  {% for id, article in data %}
  <a href="{{ url(article) }}" class="ajax">
    <article>
      <h3>{{ article.name }}</h3>
      <div class="deck">
        {{ article.deck }}
      </div>
      <h5 class="byLine">{{ article.publish_date|date('F d Y') }}</h5>
    </article>
  </a>
  {% endfor %}
  </section>

  {# The actual pagination template, feel free to edit or replace the default one. #}
  {% include "templates/partials/paginator.html" %}