{# Copy this to any page you want articles data on. #}
  {% set data = get('articles') %}

  {# This is how you set pagination. #}
  {% set data = paginate(data, 5) %}

  {# Scaffolding only outputs the object.name, but feel to use any of the fields from your CMS form here. #}
  
  {% for id, article in data %}
  <a href="{{ url(article) }}">
    <article>
      <h3>{{ article.name }}</h3>
      <div class="deck">
        {{ article.deck }}
      </div>
      <h5 class="byLine">{{ article.publish_date|date('F d Y') }}</h5>
    </article>
  </a>
  {% endfor %}

  {# The actual pagination template, feel free to edit or replace the default one. #}
  {% include "templates/partials/paginator.html" %}