<div id="stripe1"></div>
<div id="stripe2"></div>
<div id="stripe3"></div>

<main>
	<header>
		<div id="logo">
			<a href="/">deagle<span>io</span></a>
		</div>
		<div id="logo" class="fixed" style="display:none;">
			<a href="/">deagle<span>io</span></a>
		</div>
		<div id="description">{{ getSetting('site_description') }}</div>

		{% set articles = get('articles') %}
		<nav id="main-nav" class="pills center">
		    <a href="/articles" {% if getCurrentUrl()|startsWith('/articles') %}class="active" {% endif %}>Blog</a>
		    <a href="/aboutme" {% if getCurrentUrl()|startsWith('/aboutme') %}class="active" {% endif %}>About Me</a>
		    <a href="/cms/">CMS</a>
		</nav>
		<nav id="main-nav-fixed" class="pills center fixed" style="display:none;">
			<a href="/articles/" id="nav-0" class="active">Blog</a>
			<a href="/aboutme/" id="nav-1">About Me</a>
			<a href="/cms/">CMS</a>
		</nav>
	</header>