<div id="stripe1"></div>
<div id="stripe2"></div>
<div id="stripe3"></div>

<main>
	<header>
		<div id="logo">
			<a href="/">deagle<span>io</span></a>
		</div>
		<div id="logo" class="fixed" style="display:none;">
			<a href="/">deagle<span>io</span></a>
		</div>
		<div id="description">{{ getSetting('site_description') }}</div>

		<nav id="main-nav" class="pills center">
		    <a href="/articles/" id="nav-0" class="active">Blog</a>
		</nav>
		<nav id="main-nav-fixed" class="pills center fixed" style="display:none;">
			<a href="/articles/" id="nav-0" class="active">Blog</a>
		</nav>
	</header>