.stripe1, .stripe2, .stripe3 {
    position: absolute;
    left: 5%;
    right: 90%;
    background: $background-orange;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.stripe2 {
    left: 10%;
    right: 85%;
    background: $background-green;
}

.stripe3 {
    left: 15%;
    right: 80%;
    background: $background-blue;
}

.panel {
    @include border-radius;
    border: 1px solid #222;
    border-bottom-width: 3px;
    padding: $padding;
}

#loader {
    div {
        width: 7px;
        height: 7px;
        position: fixed;
        background-color: #ccc;
        top: 1px;
        border-radius: 50%;
        left: -7px;
    }
    div:nth-child(1) {
        background-color: $background-blue;
        &.go {
            -webkit-animation: move 1250ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        }
    }
    div:nth-child(2) {
        background-color: $background-green;
        &.go {
            -webkit-animation: move 1250ms 150ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        }
    }
    div:nth-child(3) {
        background-color: $background-orange;
        &.go {
            -webkit-animation: move 1250ms 300ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
        }
    }
}

@-webkit-keyframes move {
    0% {
        left: -7px;
    }
    70% {
        left: calc(100% + 7px);
    }
    100% {
        left: calc(100% + 7px);
    }
}