body {
    font-family: $font-family-serif;
    -webkit-text-stroke: 0.2px;
    font-size: $font-size-base;
    color: $text-default;
    background: #e5e5e5;
}

.uppercase {
    text-transform: uppercase;
}

.text-red {
    color: $text-red;
}
.text-green {
    color: $text-green;
}
.text-blue {
    color: $text-blue;
}
.text-orange {
    color: $text-orange;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    -webkit-text-stroke: 0.6px;
    line-height: $headings-line-height;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;

    &.sub {
        opacity: 0.5;
        font-family: $font-family-sans;
        font-weight: 700;
    }

    &.inline {
        display: inline-block;
    }

    small {
        opacity: 0.5;
        font-size: 75%;
    }

    &.underline {
        border-bottom: 3px solid $text-default;
        @include border-radius();
    }
    
    &.green {
        color: $background-green;
    }
    
    &.white {
        color: #fff;

        &.underline {
            border-bottom: 1px solid #fff;
        }
    }
}

h1 {
    font-size: $font-size-h1;
}

h2 {
    font-size: $font-size-h2;
}

h3 {
    font-size: $font-size-h3;
}

h4 {
    font-size: $font-size-h4;
    -webkit-text-stroke: 0.4px;
}

h5 {
    font-size: $font-size-h5;
    -webkit-text-stroke: 0.3px;
}

h6 {
    font-size: $font-size-h6;
    -webkit-text-stroke: 0.2px;
}

p {
    line-height: 1.5em;

    &.lead {
        font-size: 125%;
        font-weight: bold;
    }
}

#description {
    font-family: $font-family-sans;
    font-weight: 100;
    font-size: $font-size-large;
    text-align: center;
    margin-bottom: $padding;
    -webkit-text-stroke: 0.6px;
    opacity: 0.9;
}

main {
    section {
        max-width: 800px;
        margin: 0 auto;
    }
    article {
        margin: auto auto $padding auto;
        border-bottom: 3px solid rgba(#555, 0.25);
        //border-bottom-width: 3px;
        @include border-radius();
        @include transition();
        width: calc(100% - ($padding*2));
        overflow: hidden;
        background: #fff;
        padding: $padding;
        padding-top: $padding/2;

        p {
            font-weight: 300;
            font-size: $font-size-large;
            line-height: 1.6;
            opacity: 0.8;
        }
        
        &:hover {
            
        }

        .deck {
            font-family: $font-family-sans;
            font-weight: 300;
            font-size: $font-size-large;
            padding: $padding/2 0;
            opacity: 0.75;
        }
        
        .byLine {
            font-family: $font-family-sans;
            font-weight: 400;
            opacity: 0.75;
            padding-top: 5px;
        }
    }

    a {
        article {
            &:hover {
                background: #f8f8f8;
            }
        }
    }
}