{# INDIVIDUAL VIEW FOR EACH articles #}
{# You can find a full list of variables to use on this page in your CMS. #}
{% extends "templates/partials/base.html" %}
{% block content %}

  <section>
    <article>
      <header>
        <h3>{{ item.name }}</h3>
        <div class="deck">{{ item.deck }}</div>
        <div class="byLine">by {{ item.author.first }} {{ item.author.last }} on {{ item.create_date|date('F d Y') }}</div>
      </header>
      <div class="body">
        {{ item.body|markdown }}
      </div>
    </article>
  </section>
  
{% endblock %}
