{% set experiences = get('workexperiences') %}
{% set skills = get('skills') %}
{% set education = get('education') %}

{% extends "templates/partials/base.html" %}
{% block content %}
<section id="resume">
	<article>
	   	<h3>Work Experiences</h3>

		{% for experience in experiences %}
	  	<div>
	  		<h5>{{ experience.name|title }}</h5>
	  		<h5 class="sub">{{ experience.employer|upper }} ({{ experience.address.city }}, {{ experience.address.state }})</h5>
	  		{{ experience.description|markdown }}
	  		<time>{{ experience.from|date('F Y') }} - {{ experience.to|date('F Y') }}</time>
		</div>
	    {% endfor %}

	</article>

	<article>
		<h3>Skills</h3>

		{{ skills.list|markdown }}
	</article>

	<article>
		<h3>Education</h3>

		{% for thing in education %}
		<div>
			<h5>{{ thing.name }} ({{ thing.address.city }}, {{ thing.address.state }})</h5>
			{{ thing.description|markdown }}
			<time>{{ thing.from|date('Y') }} - {{ thing.to|date('Y') }}</time>
		</div>
		{% endfor %}
	</article>
</section>

{% endblock %}
